<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <title>Modules</title>
</head>
<body>
<div class="links">
    <a href="/"> Main </a>
    <a href="/module/new"> New module </a>
    <a href="/module/all"> List of modules </a>
</div>
<h2>Modules</h2>
<div class="module-container">
    {{ range .Modules }}
    <div class="module">
        <div class="span-wrap">
            <span><p>Title:</p> {{ .Title }} </span>
        </div>
        <a href="/module/task/by_lvl?level={{ .Level }}&module_id={{.ModuleID}}"> add task </a>
    </div>
    {{ end }}
</div>
</body>
</html>
