<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/style-form.css">
  <meta charset="UTF-8">
  <title>Tasks</title>
</head>
<body>
<div class="links">
  <a href="/"> Main </a>
  <a href="/task/new"> New task </a>
  <a href="/task/all"> List of tasks </a>
</div>
<h2>Tasks</h2>
<div class="task-container">
  {{ range .Tasks }}
    <div class="task">
    <div class="span-wrap">
      <span><p>TypeID:</p> {{ .TypeID }} </span>
      <span><p>Level:</p> {{ .Level }} </span>
      <span><p>Question:</p> {{ .Question }} </span>
      <span><p>Answer:</p> {{ .Answer }} </span>
    </div>
<!--    <button class="refresh-button">Обновить</button>-->
    <a href="/task/edit/{{.TaskID}}" class="edit-link"> edit </a>
  </div>
  {{ end }}
</div>
</body>
</html>
