<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Tasks</title>
</head>
<body>
<div class="links">
  <a href="/"> Main </a>
  <a href="/task/new"> New task </a>
  <a href="/task/all"> List of tasks </a>
</div>
<h2>Tasks</h2>

<div class="task-container_inner">
  {{ range .Tasks }}
  <form action="/module/task/add?task_id={{ .TaskID }}&module_id={{ .ModuleID }}" method="POST">
    <div class="adding_task">
      <span><p>TypeID:</p> {{ .TypeID }} </span>
      <span><p>Question:</p> {{ .Question }} </span>
      <button type="submit"> add </button>
    </div>

  </form>
  {{ end }}
</div>
</body>
</html>
